.table-for-listing {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #D7DBEC;
    margin-top: 2rem;
    .table {
      margin: 0;
      thead{
        tr {
          border-bottom: 1px solid #D7DBEB;
          th:first-child {
            text-align: center;
          }
          th {
            font-size: 14px;
            color: #131523;
            font-weight: 500;
            height: 48px;
            padding: 5px;
            vertical-align: middle;
          }
        }
      }

      tbody {
        tr {
          td:first-child {
            text-align: center;
          }
          td {
            font-size: 12px;
            color: #131523;
            font-weight: normal;
            padding: 5px;
            vertical-align: middle;
            height: 38px;
            a.action-link {
              color: #131523;
              text-decoration: underline;
              font-size: 12px;
            }
            a.action-link.linked {
              color: #0200E0;
            }
            span.pending {
              margin-left: 20px;
              mat-icon.mat-icon {font-size: 15px; position: absolute; margin-left: -30px; margin-top: 2px;}
            }
          }
        }
      }
    }
  }

  .imageHolder{
    display: inline-block;
    img{
      max-width: 50px;
      max-height: 50px;
      border-radius: 4px;
      padding: 5px;
      margin: 10px;
      border: 1px solid blueviolet;
    }
  }