<div *ngIf="userGists.length > 0" class="container">
  <div class="row">
    <div class="table-for-listing">
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">URL</th>
            <th scope="col">Forkers</th>
            <th scope="col">File Badges</th>
            <th scope="col">Truncated</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="showDetails(item.id)" *ngFor="let item of userGists">
            <td><strong>{{item.id}}</strong></td>
            <td>{{item.url}}</td>
            <td>
              <div *ngIf="item.forkInfo" [class]="item.forkInfo?.length > 0 ? 'imageHolder' : 'd-none' ">
                <img [src]="item.forkInfo[0]?.avatar_url">
                <img [src]="item.forkInfo[1]?.avatar_url">
                <img [src]="item.forkInfo[2]?.avatar_url">
              </div>
            </td>
            <td>
              <div *ngFor="let tag of item.tagArray">{{tag}}</div>
            </td>
            <td>{{item.truncated}}</td>
            <td>{{item.created_at | date : 'MMM d, y'}}</td>
        </tbody>
      </table>
    </div>
  </div>
</div>
